div#rz-dom-calculator {
  display: block;
  position: fixed;
  top: 10px;
  left: calc(100% - 195px);
  width: 190px;
	padding: 4px 8px 4px 8px;
	background: #9dd2ea;
  background: #558DA6;
	border-radius: 3px;
  border-top-left-radius: 0px;
  outline: none;
  transition: box-shadow 0.2s ease;
  border: 1px solid rgb(207, 207, 207);
  box-sizing: border-box;
}

div#rz-dom-calculator:focus {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}


div#rz-dom-calculator .keys {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
}

div#rz-dom-calculator .keys span {
  display: inline-block;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 30px;
  line-height: 20px;
	background: white;
	border-radius: 3px;
	margin: 5px 2px 2px;
	color: #888;
	text-align: center;
	user-select: none;
	transition: all 0.2s ease;
  visibility: visible;
}

div#rz-dom-calculator span.eval {
	background: #f1ff92;
	color: #888e5f;
}

div#rz-dom-calculator span.clear-result {
  background: #FF6262;
	color: white;
  height: auto !important;
  visibility: visible !important;
}

/* Some hover effects */
div#rz-dom-calculator .keys span:hover, div#rz-dom-calculator .keys span.active {
  background: #6B56D2;
	color: white;
}


div#rz-dom-calculator .keys span.active {
  background: #6B56D2;
	color: white;
}


div#rz-dom-calculator .keys span.eval:hover {
	background: #abb850;
	color: #ffffff;
}

div#rz-dom-calculator span.clear:hover {
	background: #f68991;
	color: white;
}

div#rz-dom-calculator .keys span.eval:active {
	box-shadow: 0px 0px #717a33;
}

div#rz-dom-calculator .top span.clear:active {
	box-shadow: 0px 0px #d3545d;
}

div#rz-dom-calculator .screen {
	height: 30px;
	width: 100%;
	float: left;
  overflow: hidden;
	padding: 0;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	font-size: 14px;
	line-height: 150%;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

div#rz-dom-calculator .screen .result {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  transition: margin .2s ease;
}

div#rz-dom-calculator .screen .result li {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white !important;
}



span.rz-dom-calculator-highlight {
  color: white;
  background: #642887;
  display: inline;
}

div#rz-dom-calculator .dragger {
  display: block;
  position: absolute;
  height: 24px;
  background: #9dd2ea;
  background: #558DA6;
  top: -1px;
  width: 12px;
  left: -13px;
  cursor: pointer;
  border: 1px solid rgb(207, 207, 207);
  border-right: none;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: all 0.1s ease;
}

div#rz-dom-calculator .dragger:hover {
  width: 20px;
  left: -21px;
}
